.carousel {
    width: 100%;
    height: 300px; 
    /* background:linear-gradient(to bottom, #fab8cd, white); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  .search-heading {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: larger;
    font-weight: 900;
    color: #821b3b;
  }
  
  #searchInput {
    padding: 8px;
    margin-top: 10px;
    width: 500px;
    height: 35px;
    border: none;
    border-radius: 8px;
    /* border-radius: 5px; */
     border: 1px solid #821b3b; 
    background-color: #fbebf0;
  }
  .search-btn{
    height: 30px;
    width: 30px;
    color: #821b3b;
  }
  
  .faq-section {
    padding: 40px 20px;
    background-color: #f8f8f8;
    text-align: center;
    
  }
  
  .faq-heading {
    margin-bottom: 20px;
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: xx-large;
  }
  
  .faq-list {
    display: flex;
    justify-content: center;
  }
  
  .faq-column {
    flex: 1;
    margin: 0 10px;
    max-width: 600px;
    max-height: 400px;
  }
  
  .faq-item {
    margin-bottom: 20px;
    font-weight: 500;
}
  .question-btn {
    font-size: 30px;
    padding: 25px 20px; 
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
    border: 1px solid #821b3b;
    background-color: #fbebf0;
    border-radius: 8px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #821b3b;
  }
  
  .question-btn:hover {
    background-color: #f0f0f0;
  }
  
  .answer {
    color: #555;
    display: none;
  }
  
  .answer.show {
    display: block;
  }


.container1 {
    max-width: 1400px;
    margin: 0 auto;
    padding: 250px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card1 {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card1 img{
    height: 70px;
    width: 70px;
}
h2 {
    margin-bottom: 20px;
    /* font-weight: bold; */
}

p {
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #00acb1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: transparent;
    border: 2px solid #00acb1;
}

/*Faqs-end */
/* contctus -start */

.contact-bg{
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(premium_photo-1680582107403-04dfac02efc3.avif);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg h1{
    font-weight: 400;
}
.contact-bg h2{
    /* font-size: 3rem; */
    text-transform: uppercase;
    /* padding: 0.4rem 0; */
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #178066;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #178066;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info a{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info span a{
    display: block;
}

.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-form img{
    height: 300px;
    margin-bottom: 100px;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #178066;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
a,span .text{
    color: #000;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #178066;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
   border: 2px solid #178066;
   background-color: transparent;
   color: #178066;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: #000;
}
.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: wheat;
    border-color: #00acb1;
}
span i{
    padding: 8px;

}
span i:hover{
    color: #178066;
}

@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* contctus -start */